custom-header{
    display:block;
    --background-color:white;
    --color:gray;
    --text-align: center;
}
custom-hero{
    --top: 20%;
    --left: 15%;
    --color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
.container{
    padding: 4rem; 
}